@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;0,900;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-grid {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: 8vh 80vh 12vh;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "experiences"
        "footer";
}


/*#region home*/

#home {
    background-image: url('../images/main-backgroundimage.jpg');
    background-size: cover;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.home__title {
    text-align: center;
    font-weight: 900;
    font-size: 80px;
    color: #62ECC1;
}

.home__image {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-right: 70px;
}

.home__text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
}

.home__buttons {
    column-gap: 20px;
}

/*#endregion home*/

/*#region profile*/

#profile {
    background-color: #62ECC1;
    padding: 20px;
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.profile__title {
    text-align: center;
    color: #222589;
    padding: 20px;
}

.profile__aboutMe {
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.profile__aboutMe p {
    line-height: 1.7;
    margin-top: 10px;
}

.profile__photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.profile__image {
    padding: 20px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}


.profile__details {
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.profile__details li {
    font-weight: bold;
    margin-top: 10px;
    line-height: 1.7;

}

.profile__links a {
    padding: 0px 5px 5px 5px;
}

.profile__links a img {
    width: 30px;
    height: 30px;
}

/*#endregion profile*/

/*#region skills*/
#skills {
    background-color: #FFFFFF;
    flex: 1;
}

.skills__title {
    text-align: center;
    color: #222589;
    padding: 10px;
}

.skills__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

/* .skills__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 0px 80px;
} */

.skill__card {
    padding: 1rem;
    cursor: pointer;
    width: 30%;
}

.skill__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill__title {
    margin: 0.5rem;
}

.skill__image {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #62ECC1;
}

.skill__image img {
    width: 80px;
}

/*#endregion skills*/

/*#region experiences*/

#experiences {
    background-color: #222589;
    grid-area: experiences;
}

.experiences__title {
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

.experiences__container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex: 1;
}

.experience__card {
    margin: 25px;
    height: 400px;
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px;
}

.experience__card h2 {
    text-align: center;
}

.experience__card:hover {
    cursor: pointer;
}

/*#endregion experiences*/

/*#region contact*/

#contact {
    background-color: #222589;
    height: 100%;
    width: 100%;
    display: grid;
}

/*TO-DO: PÁGINA CONTACT CON GRID */

.contact__title {
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}

.contact__map {
    border: none;
    border-radius: 5px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: flex-Start;
}

.contact__form label {
    color: #FFFFFF;
}

/*#endregion contact*/


/*#region header*/

#header {
    grid-area: header;
}

.header__list {
    display: flex;
    justify-content: flex-end;
    padding: 0.8rem;
}

.header__list a {
    margin: 1rem;
}

.header__list a:hover {
    color: #222589;
}

/*#endregion header*/

/*#region footer*/

#footer {
    grid-area: footer;
}

.footer {
    padding: 20px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__title {
    color: #FFFFFF;
}

.footer__links a {
    padding: 10px 5px 5px 5px;
}

.footer__links a img {
    width: 30px;
    height: 30px;
    filter: invert();
}

/*#endregion footer*/


/*------------ MEDIA QUERIES ------------*/

@media (min-width: 768px) {
    .container-grid {
        height: 100%;
        align-content: center;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "experiences"
            "footer";
    }
}




/*------------ Clases Globales ------------*/
.btnPrimary {
    font-size: 15px;
    width: 200px;
    height: 51px;
    border-width: 0px;
    color: #222589;
    border-color: #62ECC1;
    font-weight: bold;
    border-radius: 42px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
    background-color: #62ECC1;
}

.btnPrimary:hover {
    background: #FFFFFF;
    cursor: pointer;
}

.btnSecondary {
    font-size: 15px;
    width: 200px;
    height: 51px;
    border: 2px solid #62ECC1;
    color: #62ECC1;
    font-weight: bold;
    border-radius: 42px;
    background-color: transparent;
}

.btnSecondary:hover {
    background: #FFFFFF;
    cursor: pointer;
    color: #222589;
}


.uppercase {
    text-transform: uppercase;
}

.vbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mtop10 {
    margin-top: 10px;
}

.mtop20 {
    margin-top: 20px;
}

.mtop30 {
    margin-top: 30px;
}

.padd20 {
    padding: 20px;
}

.padd10 {
    padding: 10px;
}