#contact {
    grid-area: main;
    @include d-flex(center, center, row);
    column-gap: 30px;
    background: linear-gradient(to right,
            map-get($map: $palet, $key: 'white') 0%,
            map-get($map: $palet, $key: 'white') 60%,
            map-get($map: $palet, $key: 'blue') 60%,
            map-get($map: $palet, $key: 'blue') 100%);

    .contact__title {
        text-align: left;
        color: map-get($map: $palet, $key: 'aquaGreen');
        padding-bottom: 1rem;

        &:hover {
            animation: pulse;
            animation-duration: 2s;
        }
    }

    button {
        margin-top: 1rem;
    }

    iframe {
        width: 350px;
        height: 350px;
        border: none;
        border-radius: 5px;
    }
}