#contact {
    grid-area: main;
    @include d-flex(center, center, row);
    column-gap: 30px;
    background: linear-gradient(to right,
            #ffff 0%,
            #ffff 60%,
            #222589 60%,
            #222589 100%);

    .contact__title {
        text-align: left;
        color: #62ECC1;
        padding-bottom: 1rem;

        &:hover {
            animation: pulse;
            animation-duration: 2s;
        }
    }

    button {
        margin-top: 1rem;
    }

    iframe {
        width: 350px;
        height: 350px;
        border: none;
        border-radius: 5px;
    }
}