#experiences {
    background-color: map-get($map: $palet, $key: 'blue');
    grid-area: main;
    @include d-flex(space-around, center, column);

    padding: 2rem 0;

    .experiences__title {
        color: map-get($map: $palet, $key: 'white');
        text-align: center;
        padding: 1.25rem 0;
        margin: 0;

        &:hover {
            animation: pulse;
            animation-duration: 2s;
        }
    }

    .experiences__cards {
        @include d-flex(space-around, center, row);
        padding: 2rem 0rem;
        width: 100%;

        .card {
            width: 25rem;
            margin: 1rem 5px;
        }
    }
}