// home page

.home__content {
    @include d-flex(center, center, column);
    background-image: url('../images/main-backgroundimage.jpg');
    background-size: cover;
    height: 100vh;

    .vbox {

        .home__image {
            border-radius: 50%;
            width: 250px;
            height: 250px;
            margin-bottom: 1rem;

        }

        .home__title {
            text-align: center;
            font-weight: 900;
            font-size: 80px;
            color: map-get($map: $palet, $key: 'aquaGreen');
            animation: rubberBand;
            animation-duration: 2s;

            &:hover {
                animation: rubberBand;
                animation-duration: 2s;
            }

        }

        .home__text {
            color: map-get($map: $palet, $key: 'white');
            ;
            font-weight: 400;
        }

        .home__buttons {
            @include d-flex(center, center, row);
            margin-top: 30px;
            column-gap: 20px;
        }
    }

    @media (min-width:0px) and (max-width:450px) {
        #home {
            height: 100vh;
        }

        .home__buttons {
            @include d-flex(center, center, column);

            a {
                margin-top: 10px;
            }
        }
    }
}

//animate__rubberBand