#skills {
    background-color: map-get($map: $palet, $key: 'white');
    grid-area: main;
    @include d-flex(space-around, strech, column);

    .skills__title {
        text-align: center;
        color: map-get($map: $palet, $key: 'blue');
        ;

        &:hover {
            animation: pulse;
            animation-duration: 2s;
        }
    }

    .skills__container {
        @include d-flex(space-around, center, row);
        margin: 1rem;

        .skill__card {
            @include d-flex(center, center, column);
            padding: 1rem;
            cursor: pointer;
            width: 30%;

            @media (max-width:576px) {
                .skill__card {
                    width: 50%;
                }
            }

            .skill__title {
                padding: 1.25rem 0;
                margin: 0;
            }

            .skill__image {
                @include d-flex(center, center, column);
                width: 120px;
                height: 120px;
                border-radius: 60px;
                background-color: map-get($map: $palet, $key: 'aquaGreen');

                img {
                    width: 80px;
                    padding: 1px;
                }
            }
        }
    }
}