footer {
    grid-area: footer;
    @include d-flex(center, center, column);
    padding: 20px;
    background-color: #333333;

    .footer__title {
        color: #FFFFFF;
    }

    .footer__links {
        @include d-flex(center, center, row);

        a {
            padding: 10px 5px 5px 5px;

            img {
                width: 30px;
                height: 30px;
                filter: invert(1);
            }
        }
    }
}