//global vars

* {
    margin: 0;
    padding: 0;
    font-family: $fontMain;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 50px;
    font-weight: 700;

}

.btnPrimary {
    font-size: 15px;
    width: 200px;
    height: 51px;
    border-width: 0px;
    color: #222589;
    border-color: #62ECC1;
    font-weight: bold;
    border-radius: 42px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
    background-color: #62ECC1;
}

.btnPrimary:hover {
    background: #FFFFFF;
    cursor: pointer;
}

.btnSecondary {
    font-size: 15px;
    width: 200px;
    height: 51px;
    border: 2px solid #62ECC1;
    color: #62ECC1;
    font-weight: bold;
    border-radius: 42px;
    background-color: transparent;
}

.btnSecondary:hover {
    background: #FFFFFF;
    cursor: pointer;
    color: #222589;
}

.uppercase {
    text-transform: uppercase;
}

@mixin d-flex($justify, $align, $dire) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dire;

    //@include d-flex(center,flex-start,row)
}

.vbox {
    @include d-flex(center, center, column);
}


.hbox {
    @include d-flex(center, center, row)
}

@mixin medias($breakpoint) {
    @if $breakpoint ==mobile {
        @media (max-width: 320px) {
            @content;
        }
    }

    @if $breakpoint ==tablet {
        @media (min-width: 600px) {
            @content;
        }
    }

    @if $breakpoint ==desktop {
        @media (min-width: 1200px) {
            @content;
        }
    }
}