//global vars

* {
    margin: 0;
    padding: 0;
    font-family: $fontMain;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

.grid {
    display: grid;
    grid-template-areas:
        "nav"
        "main"
        "footer";
    grid-template-rows: 60px auto 130px;
    height: 100vh;
}

.uppercase {
    text-transform: uppercase;
}

@mixin d-flex($justify, $align, $dire) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dire;

    //@include d-flex(center,flex-start,row)
}

.vbox {
    @include d-flex(center, center, column);
}


.hbox {
    @include d-flex(center, center, row)
}

$palet: (
    'aquaGreen': #62ECC1,
    'blue': #222589,
    'dark': #333333,
    'white': #FFFFFF,
    'transparent':transparent
);

.btn {
    font-size: 15px;
    width: 200px;
    height: 51px;
    font-weight: bold;
    border-radius: 42px;
}

.btn-bg-green {
    @extend .btn;
    border-width: 0px;
    color: map-get($map: $palet, $key: 'blue');
    border-color: map-get($map: $palet, $key: 'aquaGreen');
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
    background-color: map-get($map: $palet, $key: 'aquaGreen');

    &:hover {
        background: map-get($map: $palet, $key: 'white');
        cursor: pointer;
    }
}

.btn-bg-transparent {
    @extend .btn;
    border: 2px solid map-get($map: $palet, $key: 'aquaGreen');
    color: map-get($map: $palet, $key: 'aquaGreen');
    background-color: map-get($map: $palet, $key: 'transparent');

    &:hover {
        background-color: map-get($map: $palet, $key: 'white');
        cursor: pointer;
        color: map-get($map: $palet, $key: 'blue');
    }
}